* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main {
    height: 550px;
    width: 550px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    box-sizing: content-box;
    border: 15px groove black;

}

.ludoin {
    border: 1px solid black;

}

#ludo1 {
    grid-column: 1/7;
    grid-row: 1/7;
    background-color: red;
}

#ludo5 {
    grid-column: 10/16;
    grid-row: 1/7;
    background-color: green;
}

#ludo80 {
    grid-column: 10/16;
    grid-row: 10/16;
    background-color: yellow;
}

#ludo66 {
    grid-column: 1/7;
    grid-row: 10/16;
    background-color: blue;
}

#ludo27 {
    grid-column: 7/10;
    grid-row: 7/10;
}

#ludo27 {
    background-image: conic-gradient(white,red,green,yellow,blue,white);
}

.green {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 20px;
}

#ludo8 i {
    animation: rotate 2s linear infinite normal;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

#ludo1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ludo9 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 20px;

}

#ludo9 i {
    animation: rotate 2s linear infinite normal;
}

#ludo31 i {
    animation: rotate 2s linear infinite normal;
}

#ludo56 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 90, 7);
    font-size: 20px;
}

#ludo70 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(122, 122, 9);
    font-size: 20px;
}

#ludo71 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 20px;
}

#ludo48 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 20px;
}

#ludo22 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 20px;
}

#ludo22 i {
    animation: rotate 2s linear infinite normal;
}

#ludo48 i {
    animation: rotate 2s linear infinite normal;
}

#ludo71 i {
    animation: rotate 2s linear infinite normal;
}

#ludo70 i {
    animation: rotate 2s linear infinite normal;
}

#ludo56 i {
    animation: rotate 2s linear infinite normal;
}

.redmain {
    height: 70%;
    width: 70%;
    background-color: white;

}

#redin1 {
    margin-left: 20px;
    margin-top: 25px;
    background-color: red;
}

.redin {
    position: relative;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 50%;
}

#redin2 {
    background-color: red;
    margin-left: 90px;
    margin-top: -35px;
}

#redin3 {
    background-color: red;
    margin-top: 40px;
    margin-left: 20px;
}

#redin4 {
    background-color: red;
    margin-left: 90px;
    margin-top: -35px;
}

.greenmain {
    height: 70%;
    width: 70%;
    background-color: white;
}

#ludo5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenin {
    position: relative;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 50%;
}

#greenin1 {
    margin-left: 20px;
    margin-top: 25px;
    background-color: green;
}

#greenin2 {
    background-color: green;
    margin-left: 90px;
    margin-top: -35px;
}

#greenin3 {
    background-color: green;
    margin-top: 40px;
    margin-left: 20px;
}

#greenin4 {
    background-color: green;
    margin-left: 90px;
    margin-top: -35px;
}

#ludo80 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellowmain {
    height: 70%;
    width: 70%;
    background-color: white;
}

.yellowin {
    position: relative;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 50%;
}

#yellowin1 {
    margin-left: 20px;
    margin-top: 25px;
    background-color: yellow;
}

#yellowin2 {
    background-color: yellow;
    margin-left: 90px;
    margin-top: -35px;
}

#yellowin3 {
    background-color: yellow;
    margin-top: 40px;
    margin-left: 20px;
}

#yellowin4 {
    background-color: yellow;
    margin-left: 90px;
    margin-top: -35px;
}

#ludo66 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluemain {
    height: 70%;
    width: 70%;
    background-color: white;
}

.bluein {
    position: relative;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 50%;
}

#bluein1 {
    margin-left: 20px;
    margin-top: 25px;
    background-color: blue;
}

#bluein2 {
    background-color: blue;
    margin-left: 90px;
    margin-top: -35px;
}

#bluein3 {
    background-color: blue;
    margin-top: 40px;
    margin-left: 20px;
}

#bluein4 {
    background-color: blue;
    margin-left: 90px;
    margin-top: -35px;
}